html,
body {
  min-width: 300px;
  color: #00ff00;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid black;
  width: 300px;
  height: 150%;
  line-height: 1.5em;
  /* padding-left: 15px; */
}
li {
  border-top: 1px solid black;
  /* padding: 0; */
}
header {
  font-size: 30px;
  /* padding-left: 30px; */
  padding-top: 10px;
}