html,
body {
  min-width: 300px;
  color: blue;
  background-color: cornflowerblue;
  font-family: fantasy, Arial, Helvetica, sans-serif;
  line-height: 2;
}

#navbar {
  position: fixed;
  min-width: 300px;
  top: 0;
  left: 0;
  border: 1px blue;
  border-right: steelblue;
  border-color: turquoise;
  width: 300px;
  height: 200%;
  line-height: 1.5em;
  /* padding-left: 15px; */
  border-top: 1px solid rgb(80, 55, 55);
  /* padding: 0; */
 /* padding-left: 30px; */
}

header {
  font-size: 2.0px;
  padding-top: 10px;
  color: blueviolet;
  margin: 10px;
  text-align: center;
  font-weight: 200;
}

#main-doc header {
  text-align: left;
  margin: 0em;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar ul {
  height: 90%;
  padding: 0em;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: aqua;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: aquamarine;
  text-decoration: cornflowerblue;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310;
  padding: 30px;
  margin-bottom: 110px;
}

section article {
  color: darksalmon;
  margin: 20px;
  font-size: 1.0;
}

section li {
     margin: 15px, 0px,0px, 20px;
}
code {
  display: block;
  text-align: left;
  white-space: normal;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: darkseagreen;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

@media only scree and (max-width: 820px) {
  /* For Mobile Handsets: */
  #navbar ul {
    border: 2px solid;
    height: 200px;
  }
}
